html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-type:y mandatory;
  scroll-behavior: smooth;
  
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:rgb(248, 246, 246)
 
}


body {
  background-color: #0c0c1d;
  width: 100%;
  min-height: 100vh;
}


a{
  text-decoration: none;
  color: inherit;
}


/* Add this to your styles */
.link-active {
  border-color: blue; /* Set the color you want for the active link */
}




/* ---scrollbar ----*/

/* App.css */

/* Custom scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3498db, #2980b9);; /* Adjust the color as needed */
  border-radius: 5px;
}

/* Custom scrollbar for Firefox */
/* Note: Firefox uses a pseudo-element for scrollbar styling */
* {
  scrollbar-color: #3498db #0c0c1d; /* thumb color, track color */
}

/* Optional: Adjust scrollbar track color for Firefox */
/* Uncomment the following line if you want to customize the track color */
/*
*::-moz-scrollbar-track {
*  background-color: #0c0c1d;
*}
*/

